p{font-size:27;text-align: center;color: white;}

#twerkulatour
{background-image:linear-gradient(blue,skyblue)
}

#worldobliterator
{border-style:double;border-color: firebrick;border: width 20px;}

h1{
    font-size:62;color:white;text-align:center;font-family:Georgia, 'Times New Roman', Times, serif
}
#idunno{color:darkblue; text-align: center;}

img{display:block;margin:auto;